{% load static %}
{% block content %}

    <h1>Your Posts</h1>
    <a href="{% url 'postcreate' %}">Add post</a>
      {% for post in posts %}
      <div>
        <div>
          <li><a href="{% url 'postdetail' post.pk %}">{{ post.title }}</a></li>
          {% for comment in comments %}
          <div>
            <div>
              <li><a href="{% url 'commentdetail' post.pk %}">edith comment</a>{{comment.content}}</li>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        {% empty %}
          <h3>No post yet.</h3>
          <a href="{% url 'postcreate' %}">Add post</a>
      {% endfor %}
      <form method="get" action="{% url 'post_search' %}">
        <input type="text" name="q" placeholder="Search posts..." class="form-control">
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
{% endblock %}